Source: daum-search-screensaver
Section: x11
Priority: extra
Maintainer: Homin Lee (Suapapa) <ff4500@gmail.com>
Build-Depends: debhelper (>= 7), wget, unzip
Standards-Version: 3.8.3
Homepage: http://search.daum.net/search?w=tot&t__nil_searchbox=suggest&q=%40%BC%D2%B3%E0%BD%C3%B4%EB%BF%CD%20%B0%CB%BB%F6%B3%EE%C0%CC

Package: daum-search-screensaver
Architecture: all
Depends: gnome-screensaver, mplayer
Description: Daum Search Screensaver
 Girl's Generation(소녀시대) is a nine-member South Korean girl group.
 They are often referred to as SoShi (소시), or SNSD (mainly outside Korea).
 This screensaver is consist of 10 lovely movie clips.
 9 for each members and 1 for 9-in-1.
 Daum made this screensaver for their search engine promotion.
 This is a customer providen package for Linux.
 because of they provide this screensaver only for MAC and Windows. :(
